<!DOCTYPE html>
<html>
  <head>
    <title>Japan Beer Map</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render Views::Nav.new %>
    <main class="flex flex-col md:flex-row">
      <p class="notice" id="the-notice"><%=notice%></p>
      <p class="alert" id="the-alert"><%=alert%></p>
      <%= yield %>
    </main>
  </body>
  <%= render "shared/mapbox" %>
</html>
